<link rel="stylesheet" href="../css/iledocs.css" />

<div class="iledocs">
    <% if (overview.includes("page") && sections.length > 1) { %>
        <div class="iledocs-page-toc">
            <%- include('page/sections.ejs'); %>
        </div>
        <div class="iledocs-toc-gap">&nbsp;</div>
    <% } %>

    <div class="iledocs-page">
        <h2>Constants</h2>

        <% if (section.constants.length > 0) { %>
        <%- include('page/constants.ejs'); %>
        <% } %>

    </div>
</div>