<table class="iledocs-table">
    <% for ( const c of section.constants) { %>
    <tr>
        <td class="iledocs-table-key-column"><b><%= c.name %></b></td><td><%= c.description %></td>
    </tr>
    <% } %>
</table>