<link rel="stylesheet" href="../css/iledocs.css" />

<div class="iledocs">
    <% if (overview.includes("page") && sections.length > 1) { %>
        <div class="iledocs-page-toc">
            <%- include('sections.ejs'); %>
        </div>
        <div class="iledocs-toc-gap">&nbsp;</div>
    <% } %>

    <div class="iledocs-page">
        <h2><%= section.config.name %></h2>

        <% if (section.config.descriptionAsHeader && section.description) { %>
        <%- section.description %>
        <% } else if (section.header) { %>
        <%- section.header %>
        <% } %>

        <% if (section.constants.length > 0) { %>
        <h3> Constants</h3>
        <%- include('constants.ejs'); %>
        <% } %>

        <% if (section.variables.length > 0) { %>
        <h3>Variables and Templates</h3>
        <%- include('variables.ejs'); %>
        <% } %>

        <% if (section.procedures.length > 0) { %>
        <h3>Procedures</h3>
        <%- include('procedures.ejs'); %>
        <% } %>
    </div>
</div>