<table class="iledocs-table">
    <% for ( const p of section.procedures) { %>
    <tr>
        <td><a href="#proc_<%= p.name %>"><%= p.name %></a></td><td><%= p.title %></td>
    </tr>
    <% } %>
</table>

<hr/>

<% for ( const p of section.procedures) { %>
<h3 class="iledocs-procedure-header"><a name="proc_<%= p.name %>"><%= p.name %></a></h3>
<code class="iledocs-code">
    <span class="iledocs-code-returnType">
        <% if (p.returnValue && p.returnValue.type && p.returnValue.like) { _%>
        <%= p.returnValue.like _%>
        <%_ } else if (p.returnValue && p.returnValue.type && !p.returnValue.like) { _%>
        <%= p.returnValue.type _%>
        <%_ } else { _%>void
        <%_ } -%>
    </span>

    <span class="iledocs-code-name"><%= p.name %></span>
    <%_ if (!p.overload) { _%>
        (
            <%_ if (p.parameters && p.parameters.length > 0) for ( const parameter of p.parameters) { _%>
                <%_ if (parameter.like) { _%><%= parameter.like %> <%= parameter.name _%>
                <%_ } else { _%><%= parameter.type %> <%= parameter.name _%><%_ } _%>
                <%_ if (parameter !== p.parameters[p.parameters.length -1]) { %>, <% } _%>
        <%_ } _%>
        )
    <% } _%>
</code>

<p><%- p.description %></p>

<% if (p.overload && p.overloadedBy?.length > 0) { %>
    <h4 class="iledocs-procedure-subheader">Overloaded Procedures</h4>
    <ul class="iledocs-list">
    <% for (const overloadBy of p.overloadedBy) { %>
        <li><%= overloadBy %></li>
    <% } _%>
    </ul>
<% } _%>

<% if (p.parameters && p.parameters.length > 0) { %>
<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<% for (const parameter of p.parameters) { _%>
    <li>
        <code>
            <span class="iledocs-code-returnType">
                <% if (parameter.type === 'DataStructure') { _%>Data Structure <% if (parameter.like) { _%><%= parameter.like %><%_ } _%>
                <%_ } else { _%>
                    <%_ if (parameter.like) { _%><%= parameter.like _%>
                    <%_ } else { _%>
                            <%_ if (parameter.type) { _%><%= parameter.type _%><%_ } _%>
                            <%_ if (parameter.length) { %> (<%= parameter.length _%>)<%_ } _%>
                    <%_ } _%>
                <%_ } _%>
            </span>
            <%_ if (parameter.arraySize) { _%> [<%= parameter.arraySize %>] <% } _%>
            <%_ if (parameter.keywords && parameter.keywords.length > 0) { %> [ <%_ for (const keyword of parameter.keywords) { _%><%= keyword _%>
                    <%_ if (keyword !== parameter.keywords[parameter.keywords.length-1]) { _%>, <% } _%>
                <%_ } _%> ] <%_ _%>
            <%_ } _%> 
        </code>
        <%_ if (parameter.type) { %> &mdash; <% } _%>
        <%_ if (parameter.description) { %><%- parameter.description %><% } _%>
    </li>
<% } _%>
</ol>
<% } _%>

<% if (p.returnValue && p.returnValue.type) { %>
<h4 class="iledocs-procedure-subheader">Return Value</h4>
<code>
    <span class="iledocs-code-returnType">
        <% if (p.returnValue.type === 'DataStructure') { %>Data Structure <% if (p.returnValue.like) { %><%= p.returnValue.like %> <% } _%>
        <% } else { _%>
            <%_ if (p.returnValue.like) { _%><%= p.returnValue.like _%>
            <% } else  { _%>
                <%_ if (p.returnValue.type) { %><%= p.returnValue.type %><% } _%>
                <%_ if (p.returnValue.length) { %> (<%= p.returnValue.length %>) <% } _%>
                <%_ if (p.returnValue.arraySize) { %>[<%= p.returnValue.arraySize %>]<% } _%>
            <% } %>
        <% } %>
    </span>
</code>
<%_ if (p.returnValue.type && p.returnValue.description) { %> &mdash; <%- p.returnValue.description %><% } _%>
<%_ } _%>

<% if (p.author) { _%>
<h4 class="iledocs-procedure-subheader">Author</h4>
<%- p.author %>
<% } _%>

<% if (p.date) { _%>
<h4 class="iledocs-procedure-subheader">Date</h4>
<%- p.date %>
<% } _%>

<% if (p.links && p.links.length > 0) { _%>
<h4 class="iledocs-procedure-subheader">Links</h4>
<ul class="iledocs-links">
<% for (const link of p.links) { _%>
    <li><a href="<%- link.url %>"><% if (link.title) { %><%= link.title %><% } else { %><%= link.url %><% } %></a></li>
<% } _%>
</ul>
<% } _%>

<% if (p.infos && p.infos.length > 0) { _%>
<h4 class="iledocs-procedure-subheader">Info</h4>
<% for (const info of p.infos) { _%>
    <div class="iledocs-box iledocs-info"><%- info %></div>
<% } _%>
<% } _%>

<% if (p.warnings && p.warnings.length > 0) { _%>
<h4 class="iledocs-procedure-subheader">Warning</h4>
<% for (const warning of p.warnings) { _%>
<div class="iledocs-box iledocs-warning"><%- warning %></div>
<% } _%>
<% } _%>

<% if (p.deprecated) { _%>
<h4 class="iledocs-procedure-subheader">Deprecated</h4>
<div class="iledocs-box iledocs-deprecated"><%- p.deprecated %></div>
<% } _%>

<% if (p.revisions && p.revisions.length > 0) { _%>
<h4 class="iledocs-procedure-subheader">Changes</h4>
<% for (const revision of p.revisions) { _%>
    <div class="iledocs-revision">
        <%_ if (revision.date) { %><%= revision.date %><% } _%>
        <%_ if (revision.author && revision.date) { %> &mdash; <% } _%>
        <%_ if (revision.author) { %><%- revision.author %><% } _%>
        <br/>
        <% if (revision.description) { %><%- revision.description %><% } _%>
    </div>
<% } _%>
<% } _%>

<% } %>
