<table class="iledocs-table">
    <% for ( const v of section.variables) { %>
    <tr>
        <td class="iledocs-table-key-column">
            <code>
                <span class="iledocs-code-type">
                    <% if (v.type === 'DataStructure') { _%>Data Structure <% if (v.like) { %><%= v.like %><% } _%>
                    <%_ } else { _%>
                        <%_ if (v.like) { _%>
                            <span title="<%= v.type %> (<%= v.length %>)"><%= v.like %></span>
                        <%_ } else { _%>
                            <%_ if (v.type) { %><%= v.type %> <% } _%>
                            <%_ if (v.length) { %> (<%= v.length %>) <% } _%>
                            <%_ if (v.arraySize) { %> [<%= v.arraySize %>] <% } _%>
                        <%_ } _%>
                    <%_ } %>
                </span>
            </code>
        </td>
        <td>
            <b><%= v.name %></b>
            <p><% if (v.description) { %><%- v.description %><% } %></p>
        </td>
    </tr>
    <% } %>
</table>