<link rel="stylesheet" href="../css/iledocs.css" />
<div class="iledocs">

<div class="iledocs-page-toc">
<h3>Sections</h3>
<ol>
<li><a href="basics.html">Basics</a></li>
<li><a href="constants.html">Constants</a></li>
<li><a href="variables.html">Variables</a></li>
<li><a href="serializer.html">Serializer</a></li>
<li><a href="sql.html">SQL</a></li>
<li><a href="data-bif.html">Generator and Parser</a></li>
</ol>
</div>
<div class="iledocs-toc-gap">&nbsp;</div>

<div class="iledocs-page">
<h2>Constants</h2>

<table class="iledocs-table">

<tr>
<td class="iledocs-table-key-column"><b>JX_AFTER_SIBLING</b></td><td>Node Copy - Reference location : after sibling</td>
</tr>

<tr>
<td class="iledocs-table-key-column"><b>JX_ALLROWS</b></td><td>All rows should be returned.</td>
</tr>

<tr>
<td class="iledocs-table-key-column"><b>JX_APPROXIMATE_TOTALROWS</b></td><td>Result set format option for returning the approximate number of total 
rows in the result set object property &#34;totalRows&#34;. This option executes 
faster than JX_TOTALROWS but is not as precise.</td>
</tr>

<tr>
<td class="iledocs-table-key-column"><b>JX_ARRAY</b></td><td>Node type ARRAY</td>
</tr>

<tr>
<td class="iledocs-table-key-column"><b>JX_BEFORE_SIBLING</b></td><td>Node Copy - Reference location : before sibling</td>
</tr>

<tr>
<td class="iledocs-table-key-column"><b>JX_BY_CONTEXT</b></td><td>Node type BY CONTEXT</td>
</tr>

<tr>
<td class="iledocs-table-key-column"><b>JX_CAMEL_CASE</b></td><td>Result set format option to return the column names in camel case. 
&#34;THE_COLUMN_NAME&#34; will be returned as &#34;theColumnName&#34;.</td>
</tr>

<tr>
<td class="iledocs-table-key-column"><b>JX_COPY_CLONE</b></td><td>Array Operation : copy</td>
</tr>

<tr>
<td class="iledocs-table-key-column"><b>JX_DELIMITERS</b></td><td>Default delimiters for JSON and XML data strings.</td>
</tr>

<tr>
<td class="iledocs-table-key-column"><b>JX_DONTREPLACE</b></td><td>Merge Option : Do not replace nodes</td>
</tr>

<tr>
<td class="iledocs-table-key-column"><b>JX_EVAL</b></td><td>Node type EVAL</td>
</tr>

<tr>
<td class="iledocs-table-key-column"><b>JX_FIELDS</b></td><td>Result set format option for additionally returning meta data about the 
table columns with the result set in the property &#34;metaData.fields&#34;.</td>
</tr>

<tr>
<td class="iledocs-table-key-column"><b>JX_FIRST_CHILD</b></td><td>Node Copy - Reference location : first child</td>
</tr>

<tr>
<td class="iledocs-table-key-column"><b>JX_FORMAT_CDATA</b></td><td>Node Option Format : XML Serializer CDATA Format</td>
</tr>

<tr>
<td class="iledocs-table-key-column"><b>JX_FORMAT_DEFAULT</b></td><td>Node Option Format : XML Serializer Default Format</td>
</tr>

<tr>
<td class="iledocs-table-key-column"><b>JX_IGNORE_CASE</b></td><td>Array Value Lookup : Case insensitive</td>
</tr>

<tr>
<td class="iledocs-table-key-column"><b>JX_LAST_CHILD</b></td><td>Node Copy - Reference location : last child</td>
</tr>

<tr>
<td class="iledocs-table-key-column"><b>JX_LITERAL</b></td><td>Node type LITERAL</td>
</tr>

<tr>
<td class="iledocs-table-key-column"><b>JX_META</b></td><td>Result set format option for additionally returning meta data with the 
result set in the property &#34;metaData&#34;. This option triggers returning the 
result set to be an object instead of the default array.</td>
</tr>

<tr>
<td class="iledocs-table-key-column"><b>JX_MOVE_UNLINK</b></td><td>Array Operation : Unlink and move</td>
</tr>

<tr>
<td class="iledocs-table-key-column"><b>JX_OBJCOPY</b></td><td>Node type OBJECT COPY</td>
</tr>

<tr>
<td class="iledocs-table-key-column"><b>JX_OBJECT</b></td><td>Node type OBJECT</td>
</tr>

<tr>
<td class="iledocs-table-key-column"><b>JX_OBJLINK</b></td><td>Node type OBJECT LINK</td>
</tr>

<tr>
<td class="iledocs-table-key-column"><b>JX_OBJREPLACE</b></td><td>Node type OBJECT REPLACE</td>
</tr>

<tr>
<td class="iledocs-table-key-column"><b>JX_POINTER_VALUE</b></td><td>Node type POINTER VALUE</td>
</tr>

<tr>
<td class="iledocs-table-key-column"><b>JX_REPLACE</b></td><td>Merge Option : Replace existing nodes</td>
</tr>

<tr>
<td class="iledocs-table-key-column"><b>JX_ROOT</b></td><td>Node type ROOT</td>
</tr>

<tr>
<td class="iledocs-table-key-column"><b>JX_ROWARRAY</b></td><td>Result set format option for returning the result set as an array with each 
row contained in a seperate object inside the returned array.</td>
</tr>

<tr>
<td class="iledocs-table-key-column"><b>JX_SAME_CASE</b></td><td>Array Value Lookup : Case sensitive</td>
</tr>

<tr>
<td class="iledocs-table-key-column"><b>JX_SYSTEM_NAMES</b></td><td>Result set format option to return system column names instead of sql 
column names.</td>
</tr>

<tr>
<td class="iledocs-table-key-column"><b>JX_TOTALROWS</b></td><td>Result set format option for returning the total number of rows returned 
in the result set object property &#34;totalRows&#34;.</td>
</tr>

<tr>
<td class="iledocs-table-key-column"><b>JX_UNKNOWN</b></td><td>Node type UNKNOWN</td>
</tr>

<tr>
<td class="iledocs-table-key-column"><b>JX_UPPERCASE</b></td><td>Result set format option for returning the column names in upper case.</td>
</tr>

<tr>
<td class="iledocs-table-key-column"><b>JX_USE_LOCALE</b></td><td>Array Sort : array nodes comparison using current locale</td>
</tr>

<tr>
<td class="iledocs-table-key-column"><b>JX_VALUE</b></td><td>Node type VALUE</td>
</tr>

</table>

</div>
</div>