<link rel="stylesheet" href="../css/iledocs.css" />
<div class="iledocs">

<div class="iledocs-page-toc">
<h3>Sections</h3>
<ol>
<li><a href="basics.html">Basics</a></li>
<li><a href="constants.html">Constants</a></li>
<li><a href="variables.html">Variables</a></li>
<li><a href="serializer.html">Serializer</a></li>
<li><a href="sql.html">SQL</a></li>
<li><a href="data-bif.html">Generator and Parser</a></li>
</ol>
</div>
<div class="iledocs-toc-gap">&nbsp;</div>

<div class="iledocs-page">
<h2>Serializer</h2>




<h3>Procedures</h3>
<table class="iledocs-table">

<tr>
<td><a href="#proc_jx_asJsonText">jx_asJsonText</a></td><td>To JSON string</td>
</tr>

<tr>
<td><a href="#proc_jx_asJsonTextMem">jx_asJsonTextMem</a></td><td>To JSON string (Buffer)</td>
</tr>

<tr>
<td><a href="#proc_jx_asXmlText">jx_asXmlText</a></td><td>To XML string</td>
</tr>

<tr>
<td><a href="#proc_jx_asXmlTextMem">jx_asXmlTextMem</a></td><td>To XML string (Buffer)</td>
</tr>

<tr>
<td><a href="#proc_jx_writeCsvStmf">jx_writeCsvStmf</a></td><td>Write CSV to stream file</td>
</tr>

<tr>
<td><a href="#proc_jx_writeJsonStmf">jx_writeJsonStmf</a></td><td>Write JSON to stream file</td>
</tr>

<tr>
<td><a href="#proc_jx_writeXmlStmf">jx_writeXmlStmf</a></td><td>Write XML to stream file</td>
</tr>

</table>
<hr/>

<h3 class="iledocs-procedure-header"><a name="proc_jx_asJsonText">jx_asJsonText</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
Varchar</span>
<span class="iledocs-code-name">jx_asJsonText</span> (
Pointer node)
</code>
<p>Returns the passed object tree as a JSON string.</p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [value]</code>
 &mdash; Node</li>
</ol>

<h4 class="iledocs-procedure-subheader">Return Value</h4>
<code>
<span class="iledocs-code-returnType">
Varchar (32767) 

</span>
</code>
 &mdash; Object tree representation as a JSON string
<h3 class="iledocs-procedure-header"><a name="proc_jx_asJsonTextMem">jx_asJsonTextMem</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
UnsignedInteger</span>
<span class="iledocs-code-name">jx_asJsonTextMem</span> (
Pointer node, Pointer buffer, UnsignedInteger bufferSize)
</code>
<p>Places the passed object tree as a JSON string into the passed buffer.</p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [value]</code>
 &mdash; Node</li>
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [value]</code>
 &mdash; Buffer</li>
<li>
<code>
<span class="iledocs-code-returnType">
UnsignedInteger (10)</span>
 [value, nopass]</code>
 &mdash; Buffer length (in bytes)</li>
</ol>

<h4 class="iledocs-procedure-subheader">Return Value</h4>
<code>
<span class="iledocs-code-returnType">
UnsignedInteger (10) 

</span>
</code>
 &mdash; Length of the serialized JSON string<h4 class="iledocs-procedure-subheader">Info</h4>
<div class="iledocs-box iledocs-info">If no buffer length is passed the procedure will assume the default buffer size which is about 2GB, see MEMMAX defined in memUtil.h.</div>

<h3 class="iledocs-procedure-header"><a name="proc_jx_asXmlText">jx_asXmlText</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
Varchar</span>
<span class="iledocs-code-name">jx_asXmlText</span> (
Pointer node)
</code>
<p>Returns the passed object tree as a XML string.</p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [value]</code>
 &mdash; Node</li>
</ol>

<h4 class="iledocs-procedure-subheader">Return Value</h4>
<code>
<span class="iledocs-code-returnType">
Varchar (32767) 

</span>
</code>
 &mdash; Object tree representation as a XML string
<h3 class="iledocs-procedure-header"><a name="proc_jx_asXmlTextMem">jx_asXmlTextMem</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
UnsignedInteger</span>
<span class="iledocs-code-name">jx_asXmlTextMem</span> (
Pointer node, Pointer buffer)
</code>
<p>Places the passed object tree as a XML string into the passed buffer.</p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [value]</code>
 &mdash; Node</li>
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [value]</code>
 &mdash; Buffer</li>
</ol>

<h4 class="iledocs-procedure-subheader">Return Value</h4>
<code>
<span class="iledocs-code-returnType">
UnsignedInteger (10) 

</span>
</code>
 &mdash; Length of the serialized XML string<h4 class="iledocs-procedure-subheader">Warning</h4>
<div class="iledocs-box iledocs-warning">Buffer length is not checked.</div>

<h3 class="iledocs-procedure-header"><a name="proc_jx_writeCsvStmf">jx_writeCsvStmf</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
void
</span>
<span class="iledocs-code-name">jx_writeCsvStmf</span> (
Pointer node, Pointer fileName, Integer ccsid, Boolean trim, Pointer options)
</code>
<p>Writes the object tree as a CSV (character seperated values) string to a 
stream file in the IFS. 
<br><br> 
The options parameter is a noxDB object tree with following values: 
<ul> 
<li>delimiter : value separator</li> 
<li>decPoint : decimal point character</li> 
<li>headers : true = column headers will be written</li> 
</ul></p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [value]</code>
 &mdash; Node</li>
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [value, string]</code>
 &mdash; File name (either a literal or null-terminated in a variable)</li>
<li>
<code>
<span class="iledocs-code-returnType">
Integer (10)</span>
 [value]</code>
 &mdash; CCSID of the output file</li>
<li>
<code>
<span class="iledocs-code-returnType">
Boolean</span>
 [value]</code>
 &mdash; <code>*on</code> = output will be trimmed else <code>*off</code></li>
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [value, string, nopass]</code>
 &mdash; Options</li>
</ol>
<h4 class="iledocs-procedure-subheader">Info</h4>
<div class="iledocs-box iledocs-info">CCSIDs 1200 and 1208 will get a BOM prepended to the actual values.</div>
<div class="iledocs-box iledocs-info">Any existing file will be overwritten.</div>

<h3 class="iledocs-procedure-header"><a name="proc_jx_writeJsonStmf">jx_writeJsonStmf</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
void
</span>
<span class="iledocs-code-name">jx_writeJsonStmf</span> (
Pointer node, Pointer fileName, Integer ccsid, Boolean trimOption, Pointer options)
</code>
<p>Writes the object tree as a JSON string to a stream file in the IFS.</p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [value]</code>
 &mdash; Node</li>
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [value, string]</code>
 &mdash; File name (either a literal or null-terminated in a variable)</li>
<li>
<code>
<span class="iledocs-code-returnType">
Integer (10)</span>
 [value]</code>
 &mdash; CCSID of the output file</li>
<li>
<code>
<span class="iledocs-code-returnType">
Boolean</span>
 [value, nopass]</code>
 &mdash; <code>*off</code> = output will be pretty printed else <code>*on</code> (default)</li>
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [value, string, nopass]</code>
 &mdash; Object tree node with options (not supported atm)</li>
</ol>
<h4 class="iledocs-procedure-subheader">Info</h4>
<div class="iledocs-box iledocs-info">By default a BOM will be prepended for unicode data. If no BOM is needed then the CCSID should be stated as a negative number, like -1208 for UTF-8.</div>
<div class="iledocs-box iledocs-info">Any existing file will be overwritten.</div>
<div class="iledocs-box iledocs-info">The trimming of the output refers only to the formatting / pretty printing of the document. Any leading or trailing spaces in any values will be preserved.</div>

<h3 class="iledocs-procedure-header"><a name="proc_jx_writeXmlStmf">jx_writeXmlStmf</a></h3>
<code class="iledocs-code">
<span class="iledocs-code-returnType">
void
</span>
<span class="iledocs-code-name">jx_writeXmlStmf</span> (
Pointer node, Pointer fileName, Integer ccsid, Boolean trim, Pointer options)
</code>
<p>Writes the object tree as a XML string to a stream file in the IFS. 
A XML header including the used encoding will be written at the 
start of the XML file.</p>

<h4 class="iledocs-procedure-subheader">Parameters</h4>
<ol class="iledocs-list">
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [value]</code>
 &mdash; Node</li>
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [value, string]</code>
 &mdash; File name (either a literal or null-terminated in a variable)</li>
<li>
<code>
<span class="iledocs-code-returnType">
Integer (10)</span>
 [value]</code>
 &mdash; CCSID of the output file</li>
<li>
<code>
<span class="iledocs-code-returnType">
Boolean</span>
 [value]</code>
 &mdash; <code>*off</code> = output will be pretty printed else <code>*on</code> (default)</li>
<li>
<code>
<span class="iledocs-code-returnType">
Pointer</span>
 [value, string, nopass]</code>
 &mdash; Object tree node with options (not supported atm)</li>
</ol>
<h4 class="iledocs-procedure-subheader">Info</h4>
<div class="iledocs-box iledocs-info">Following CCSIDs are supported: 1200, 1208, 819, 1252. Every other CCSID defaults to 1252.</div>
<div class="iledocs-box iledocs-info">CCSIDs 1200 and 1208 will get a BOM prepended to the actual XML.</div>
<div class="iledocs-box iledocs-info">Any existing file will be overwritten.</div>
<div class="iledocs-box iledocs-info">The trimming of the output refers only to the formatting / pretty printing of the document. Any leading or trailing spaces in any values will be preserved.</div>


</div>
</div>