<link rel="stylesheet" href="../css/iledocs.css" />
<div class="iledocs">

<div class="iledocs-page-toc">
<h3>Sections</h3>
<ol>
<li><a href="basics.html">Basics</a></li>
<li><a href="constants.html">Constants</a></li>
<li><a href="variables.html">Variables</a></li>
<li><a href="serializer.html">Serializer</a></li>
<li><a href="sql.html">SQL</a></li>
<li><a href="data-bif.html">Generator and Parser</a></li>
</ol>
</div>
<div class="iledocs-toc-gap">&nbsp;</div>

<div class="iledocs-page">
<h2>Variables</h2>


<table class="iledocs-table">

<tr>
<td class="iledocs-table-key-column">
<code>
<span class="iledocs-code-type">
Data Structure 
</span>
</code>
</td>
<td>
<b>jx_DelimiterDS</b>
<p>Delimiter template - special/reserved characters used in XML and JSON</p>
</td>
</tr>

<tr>
<td class="iledocs-table-key-column">
<code>
<span class="iledocs-code-type">
Data Structure 
</span>
</code>
</td>
<td>
<b>jx_iterator</b>
<p>Iterator template - this data structure holds state of the iteration, 
see jx_forEach. Thus multiple iterators can be used on the same object 
tree at the same time. All properties are read-only except "break". 
 
<ul> 
<li>root : node of the origin of the iterator</li> 
<li>this : current node in the list</li> 
<li>isList : will be *ON if the iterator is working in the list</li> 
<li>isFirst : will be *ON only at the first element</li> 
<li>isLast : will be *ON only at the last element</li> 
<li>isRecursive : will be on in a recursion </li> 
<li>comma : Will be ',' as long there are more elements in the list </li> 
<li>count : current element index (starting at 1)</li> 
<li>length : number of elements</li> 
<li>break : set this to *ON to terminate the loop</li> 
</ul></p>
</td>
</tr>

</table>

</div>
</div>